---
const { url, name, description } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <span class="text-xl">🔗</span>
  </div>

  <a
    href={url}
    target="_blank"
    class="my-1 text-lg font-bold text-black dark:text-white hover:text-indigo-600 dark:hover:text-indigo-400"
  >
    {name}
  </a>
  {description && (
    <p class="text-sm font-light text-black dark:text-neutral-400">
      {description}
    </p>
  )}
</div>
